@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1469149972_5600297.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1469149972_5600297.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1469149972_5600297.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1469149972_5600297.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1469149972_5600297.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont.loading {
    display: inline-block;
    font-size: 20px;
    animation: iconfont-loading linear infinite 1s;
    -moz-animation: iconfont-loading linear infinite 1s;
    -webkit-animation: iconfont-loading linear infinite 1s;
    -o-animation: iconfont-loading linear infinite 1s
}

.iconfont.refresh {
    display: inline-block;
    font-size: 20px;
}

@-webkit-keyframes iconfont-loading {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes iconfont-loading {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes iconfont-loading {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes iconfont-loading {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}