@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1468984623_3136122.eot');
    src: url('//at.alicdn.com/t/font_1468984623_3136122.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1468984623_3136122.woff') format('woff'),
    url('//at.alicdn.com/t/font_1468984623_3136122.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1468984623_3136122.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont.loading {
    display: inline-block;
    font-size: 20px;
    animation: iconfont-loading linear infinite 1s;
    -moz-animation: iconfont-loading linear infinite 1s;
    -webkit-animation: iconfont-loading linear infinite 1s;
    -o-animation: iconfont-loading linear infinite 1s
}

.iconfont.refresh {
    display: inline-block;
    font-size: 20px;
}

@-webkit-keyframes iconfont-loading {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes iconfont-loading {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes iconfont-loading {
    from {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes iconfont-loading {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}